@model project_mvc.Models.DataModels.University.CourseN

@{
ViewData["Title"] = "Edit";
}

<h1 style="text-align:center">Edit Course name</h1>

<hr />
<div class="row" style="place-content:center">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="CourseName" class="control-label" style="font-weight:bold"></label>
				<input asp-for="CourseName" class="form-control" autocomplete="off" />
				<span asp-validation-for="CourseName" class="text-danger"></span>
			</div>
			<div class="form-group" style="margin-top:0.5rem; float:right">
				<input type="submit" value="Save" class="btn btn-primary" />
				<a class="btn btn-secondary" asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
@{
await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}