@model project_mvc.Models.DataModels.University.Subject

@{
ViewData["Title"] = "Create";
}

<h1 style="text-align:center">Create Subject</h1>

<hr />
<div class="row" style="place-content:center">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="SubjectName" class="control-label" style="font-weight:bold"></label>
				<input asp-for="SubjectName" class="form-control" autocomplete="off" />
				<span asp-validation-for="SubjectName" class="text-danger"></span>
			</div>
			<div class="form-group">
				@Html.LabelFor(model => model.FacultyId, "Faculty", htmlAttributes: new { @class = "control-label",
				style="font-weight:bold" })
				@Html.DropDownListFor(model => model.FacultyId, ViewBag.Faculties as IEnumerable<SelectListItem>, new {
					@class = "form-control"})
					@Html.ValidationMessageFor(model => model.FacultyId, "", new { @class = "text-danger" })
			</div>
			<div class="form-group" style="margin-top:0.5rem; float:right">
				<input type="submit" value="Create" class="btn btn-primary" />
				<a class="btn btn-secondary" asp-action="Index">Back to List</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}